$color-text: #323232;
$color-accent: #008000;

$color-sky: #6ab6ff;
$color-link: #1e90ff;
$color-back: #eeeeee;

$serif: "Georgia", serif;
$sans-serif: "Arial", sans-serif;

$blink-detector: -webkit-min-device-pixel-ratio;
