html,
body {
  min-width: 1146px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
}

.btn {
  padding: 14px 19px;

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #874602;

  border: 2px solid #834701;

  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;

  cursor: default;
}

a:focus,
.btn:focus {
  outline: 2px solid #a37e49;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

b,
strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;

  border-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.page-header {
  color: #ffffff;

  background-position: center bottom;
  background-size: cover;
  background-color: #a37e49;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 1146px;
  margin: 0 auto;
}

.page-header__logo {
  margin: 60px 60px 56px auto;
}

.page-header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 600px;
  margin: 73px auto 60px 0;
  padding: 0;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
}

.page-header__nav li {
  margin: 19px 0;

  list-style: none;
}

.page-header__nav a {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__nav a:hover,
.page-header__nav a:focus {
  text-decoration: underline;
}

.page-header__slider {
  position: relative;
  display: block;
  width: 1146px;
  min-height: 140px;
  margin: 60px auto;
  padding: 0 173px;
}

.slider__item {
  position: absolute;
  top: 0;
  left: -10000px;
  width: 100%;

  font-size: 70px;
  line-height: 68px;
  text-align: center;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.labels__item {
  width: 6px;
  height: 6px;
  margin: 70px 23px 82px 0;

  background-color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
}

.labels__item--1 {
  margin-left: auto;
}

.labels__item:last-child {
  margin-right: auto;
}

.slide-toggler--1:checked ~ .page-header {
  background-image: url("../img/slide-1.jpg");
}

.slide-toggler--2:checked ~ .page-header {
  background-image: url("../img/slide-2.jpg");
}

.slide-toggler--3:checked ~ .page-header {
  background-image: url("../img/slide-3.jpg");
}

.slide-toggler--1:checked ~ .page-header .slider__item--1,
.slide-toggler--2:checked ~ .page-header .slider__item--2,
.slide-toggler--3:checked ~ .page-header .slider__item--3 {
  position: static;
}

.slide-toggler--1:checked ~ .page-header .labels__item--1,
.slide-toggler--2:checked ~ .page-header .labels__item--2,
.slide-toggler--3:checked ~ .page-header .labels__item--3 {
  background-color: #ffffff;
}

.slide-toggler--1:focus ~ .page-header .labels__item--1,
.slide-toggler--2:focus ~ .page-header .labels__item--2,
.slide-toggler--3:focus ~ .page-header .labels__item--3 {
  outline: 2px solid #a37e49;
}

.subtitle {
  margin: 0 0 86px;
  width: 100%;

  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}


.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1146px;
  margin: 91px auto 114px;
  padding: 0 173px;
}

.product__item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 400px;
  margin: 14px 0 0;

  border-left: 1px solid #e5e5e5;
}

.product__item:nth-child(odd) {
  border-right: 1px solid #e5e5e5;
}

.product__properties {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 10px 0 4px;
}

.product-table {
  table-layout: fixed;

  border: none;
  border-collapse: collapse;
  border-bottom: 1px solid #e5e5e5;
}

.product-table td {
  padding: 0 10px 10px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.product-table__note {
  width: 83px;
}

.product-table__value {
  width: 92px;
}

.product-table__last-string td {
  padding-bottom: 20px;
}

.product__structure {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 175px;

  font-size: 14px;
  line-height: 24px;
}

.product img {
  position: absolute;
  top: 0;
  left: 41px;
  z-index: -1;
}

.product__item-title {
  margin: 305px 32px 10px;
  font-size: 40px;
  text-transform: uppercase;
}

.product__descr {
  margin: 17px 50px 17px 34px;
  line-height: 30px;
}

.product__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 30px 0 34px;

  white-space: nowrap;
}

.product__link--buy {
  margin: 0 33px 0 5px;

  color: #ffffff;

  background-color: #874602;
}


.advantages {
  background-color: #ffcb78;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1192px;
  margin: 0 auto;
  padding: 80px 0 96px;
}

.advantages__list li {
  width: 397px;
  padding: 83px 90px 0 88px;

  background-image: url("../img/sprite.svg");
  background-repeat: no-repeat;

  list-style: none;
}

.advantages__list li:nth-child(3n + 1) {
  border-right: 1px solid rgba(131, 71, 0, 0.5);
}

.advantages__list li:nth-child(3n) {
  border-left: 1px solid rgba(131, 71, 0, 0.5);
}

.advantages__item--1 {
  background-position: -286px 0;
}

.advantages__item--2 {
  background-position: -618px 1px;
}

.advantages__item--3 {
  background-position: -934px 8px;
}

.advantages__list h3 {
  position: relative;
  top: 16px;

  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.advantages__list p {
  position: relative;
  top: 26px;
  line-height: 30px;
}


.history {
  width: 1146px;
  margin: 86px auto 68px;
  padding: 0 173px;
}

.history dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.history b {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.history__source {
  font-style: italic;
}

.history__source a {
  color: #834700;
}

.history dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 10px 0 55px 0;
}

.history img {
  margin-bottom: 25px;
}

.history p {
  width: 490px;
  line-height: 30px;
}


.press {
  margin: 0 auto;
  padding: 53px 0 96px;
  background-color: #ede5d8;
}

.press__title {
  width: 1146px;
  margin: 33px auto 80px;
  padding: 0 173px;
}

.press blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1146px;
  margin: 0 auto;
  padding: 0 173px;

  background-image: url("../img/sprite.svg");
  background-repeat: no-repeat;
  background-position: -1291px 6px;
}

.press__descr {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  margin: 0 0 36px;
  padding-right: 110px;
  line-height: 30px;
}

.press__source {
  margin: 0;

  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.press__link {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  padding: 14px 20px;

  color: #a7a098;

  border-color: #a7a098;
}


.assortment {
  width: 1146px;
  margin: 0 auto;
  padding: 91px 173px;
}

.assortment__table {
  width: 800px;

  border-collapse: collapse;
}

.assortment__table tr {
  border-bottom: 1px solid #e5e5e5;
}

.assortment__table th {
  padding: 0 23px 40px;

  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

.assortment__table th:first-child {
  padding-left: 0;

  text-align: left;
}

.assortment__table th:last-child {
  padding-right: 0;

  text-align: right;
}

.assortment__td {
  padding: 24px 5px 22px;

  text-transform: uppercase;
  text-align: center;
}

.offer-sticker {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 24px;
  padding: 2px 5px 1px;

  font-size: 8px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #000000;
  border-radius: 3px;

  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.assortment__td--name {
  width: 420px;
  padding-left: 0;

  text-align: left;
}

.assortment__td--alc {
  min-width: 60px;
}

.assortment__td--cal {
  width: 60px;
}

.assortment__td--vol {
  width: 80px;
}

.assortment__td--price {
  min-width: 180px;
  padding-right: 0;
  text-align: right;
}


.order {
  padding: 86px 0;
  background-color: #ffcb78;
}

.order .subtitle {
  width: 1146px;
  margin: 0 calc(50% - 573px) 80px;
  padding: 0 171px;
}

.order__lead {
  width: 1146px;
  margin: 0 calc(50% - 573px);
  padding: 0 270px 67px 174px;

  line-height: 30px;
}

.order__form {
  width: 1146px;
  margin: 0 calc(50% - 573px);
}

.order__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 800px;
  margin: 5px auto 12px;
}

.order__form label {
  width: 200px;
  padding-top: 16px;

  font-weight: 700;
  text-transform: uppercase;
}

.order__form label[for="tel-2"] {
  padding-left: 58px;
}

.order__form label[for="subscript"] {
  position: relative;

  width: 600px;
  margin: 22px 0 20px 200px;
  padding-left: 60px;
}

.order__form label[for="subscript"]::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 36px;
  height: 36px;

  background-color: #e6b66c;

  cursor: pointer;
}

.order__form [type="checkbox"]:focus + label::before,
.order__field:focus {
  -webkit-box-shadow: inset 0 0 0 2px #a37e49;
  box-shadow: inset 0 0 0 2px #a37e49;
}

.order__form [type="checkbox"]:checked + label[for="subscript"]::after {
  content: "";

  position: absolute;
  top: 19px;
  left: 10px;

  width: 16px;
  height: 10px;

  border: 2px solid #000000;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
}

.order__field {
  width: 600px;
  padding: 17px 20px 16px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #a37e49;

  background-color: #e6b66c;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.order__field--tel {
  width: 200px;
}

.order__group--mail {
  margin-bottom: 57px;
}

.order__group--opt {
  position: relative;

  overflow: hidden;
}

.order__group--opt::before {
  content: "";

  position: absolute;
  top: 4px;
  right: 4px;

  width: 40px;
  height: 40px;

  background-color: #e6b66c;

  pointer-events: none;
}

.order__group--opt::after {
  content: "";

  position: absolute;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;

  border-style: solid;
  border-width: 10px;
  border-top-color: #a37e49;
  border-right-color: transparent;
  border-bottom: none;
  border-left-color: transparent;

  pointer-events: none;
}

.order__field--comment {
  min-height: 150px;
  padding: 17px 20px 16px;
  overflow-y: auto;

  resize: vertical;
}

.order__field::-webkit-input-placeholder {
  color: #a37e49;
}

.order__field:-ms-input-placeholder {
  color: #a37e49;
}

.order__field::placeholder {
  color: #a37e49;
}

.order__btn {
  margin: 21px auto 28px 373px;
  padding: 15px 21px 14px;

  font-size: 16px;
  color: #ffffff;

  background-color: #874602;
}


.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #000000;
  padding: 57px calc(50% - 584px);

  color: #ffffff;
}

.page-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 1146px;
  margin: 0 auto 43px;
}

.page-footer__logo {
  margin: 2px 90px 0 102px;
}

.page-footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 640px;
  margin: 30px auto 0 0;
}

.page-footer__nav li {
  list-style: none;
}

.page-footer__nav a {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer__nav a:hover {
  text-decoration: underline;
}

.page-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 0 0 73px;
}

.socials__link {
  position: relative;

  width: 74px;
  height: 67px;

  background-image: url("../img/sprite.svg");
  background-repeat: no-repeat;
  background-color: #1b1b1b;
}

.socials__link:focus {
  z-index: 1;
}

.socials__link--insta {
  background-position: -120px 0;
}

.socials__link--fb {
  background-position: 33px 0;
}

.socials__link--vk {
  background-position: -47px 0;
}

.socials__link:hover,
.socials__link:focus {
  background-color: #222222;
}

.page-footer__terms {
  margin: 11px 0 0 89px;
  width: 240px;

  font-size: 14px;
  line-height: 21px;
}

.page-footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 98px 0 auto;

  font-size: 14px;
  line-height: 21px;
}

.page-footer__dev-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 67px;
  height: 67px;
  background-color: #1b1b1b;
}

.page-footer__dev-logo:hover,
.page-footer__dev-logo:focus {
  background-color: #222222;
}

.page-footer__dev-logo img {
  margin: auto;
}

.page-footer__dev-copy {
  max-width: 300px;
  margin: 11px 0 0 23px;
}

.page-footer__dev-copy a {
  font-weight: normal;
  text-decoration: none;
}

.page-footer__dev-copy a:hover {
  text-decoration: underline;
}
